{% extends "base.html" %} {% block content %}
<form id="search-form" class="flex gap-2">
  <label class="w-max flex flex-col">
    <div class="mb-1">Type your article's URL</div>
    <input value="{{ search }}" name="search" type="url" />
  </label>
  <button
    class="flex px-3 h-[42px] items-center mt-auto justify-center bg-black text-white"
    type="submit"
  >
    Search
  </button>
</form>

<div class="mt-8">
  <div class="flex flex-col gap-4">
    {% for item in texts %}

    <div>Text: {{ item.text }}</div>
    <div>Positivity: {{ item.positivity }}</div>
    <div>Summarization: {{ item.summary }}</div>
    <div>Overall Emotion: {{ item.emotion }}</div>
    <div>Toxicity: {{ item.toxicity.toxicity }}</div>
    <div>Severe toxicity: {{ item.toxicity.severe_toxicity }}</div>
    <div>Obscene: {{ item.toxicity.obscene }}</div>
    <div>Threat: {{ item.toxicity.threat }}</div>
    <div>Insult: {{ item.toxicity.insult }}</div>
    <div>Identity Attack: {{ item.toxicity.identity_attack }}</div>

    <hr />
    {% endfor %}
  </div>
</div>
{% endblock %}
